
@{
    ViewData["Title"] = "DisplayDetails";
}
<h1>Your Details</h1>
<p>Hello, Roll No @ViewBag.RollNo</p>
<p>Your Name @ViewBag.Name</p>
<p>Your Branch @ViewBag.Branch</p>
<p>You are in @ViewBag.Year</p>



